/*ГЛОБАЛЬНОЕ*/
body {
	margin: 0;
	min-width: 960px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff; /*на осн. сайте белый пока!*/
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

h1 { /*. Слоган в середине хедера, слева на сером фоне */
	font-family: Cuprum;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	text-align: left;
	color: #ee3643;
}

.button {   /* типовая красная кнопка с белым капс-текстом */
	display: inline-block;
	/* font: inherit;   */
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	border: none;
	border-radius: 13px;
	min-height: 38px;
}
.button:hover {
	background-color: #ca2c37;
}
.button:active {
	background-color: #ba2732;
}
/*--------ХЕДЕР--------------------------------------------------------*/
.main-header {
	/* серая плашка НА ВЕСЬ ЭКРАН, под ВЕСЬ хедер, включая синюю полоску. там наложение, или синий отталкивает эту плашку вниз?  */
	/* ПОСМОТРЕТЬ, как взаимодействуют между собой дивы внутри этих плашек */
	background-color: #f4f7f9;
	color: #ffffff; /* дублирование пар цветов по инструкции из лекции. буду делать для больших блоков */	
	min-height: 320px;
	/* margin-bottom: 59px; не работает на странице каталога! */
}
.top-liner { /*верхняя линия хэдера, темный фон НА ВЕСЬ ЭКРАН*/
	background-color: #293449;
	min-height: 42px;
} 
.logo-background {
	width: 220px;
	min-height: 42px;
	box-shadow: 0px 5px 0 0 #b72930;
	background-color: #ee3643;
}
.logo-background:hover {
	background-color: #ca2c37;
}
.logo-background:active {
	background-color: #ba2732;
}
.top-liner a,
.top-liner form {
	color: #ffffff;	/* размер и цвет шрифта заданы в боди */
}
.top-liner input,
.top-liner-bookmarks,
.top-liner-basket {
	background-color: #293449;
	border: none;
}
.top-liner-order {
	background-color: #63a63e;
}
.top-liner input:hover,
.top-liner-bookmarks:hover,
.top-liner-basket:hover {
	background-color: #212a3a;
}
.top-liner-order:hover {
	background-color: #5fbb2d;
}
.top-liner input:focus {
	background-color: #ffffff;	/* размер и цвет шрифта заданы в боди */
}
.top-liner-bookmarks:active,
.top-liner-basket:active {
	background-color: #161d29;
}
.top-liner-order:active {
	background-color: #518534;
}

.top-liner form {
	background: url("../img/icon-search.svg") no-repeat;
	
	}
	.top-liner-bookmarks {
		background: url("../img/icon-bookmark.svg") no-repeat;
	}
	.top-liner-basket {
		background: url("../img/icon-cart.svg") no-repeat #ee3643;
	}
	.top-liner-order {
		background-color: #63a63e;
	}

/* Левая колонка с текстом h1 ПЕРЕЕХАЛА зачем-то в верх этого файла. 
А тут - сразу средняя линия хэдера, кнопка телефона и блок адреса (центр) на светло-сером фоне */
a.phone-button {
	width: 270px;
	background: url("../img/icon-phone.svg") no-repeat transparent;
	border: 3px solid #ffffff; /*. КАК СДЕЛАТЬ РАМКУ ВНУТРЬ??? */
	border-radius: 0;
	min-height: 38px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;      
}

/*средняя линия хэдера, светло-серый фон, блок адреса (центр), адрес */
.header-center-block p {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
}

/*средняя линия хэдера, светло-серый фон, блок личного кабинета (правый) */
.header-user-block a {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	text-transform: none;
	background-color: #ffffff;
	border-radius: 0;
}
.header-login {
	background: url("../img/icon-login.svg") no-repeat #ffffff;
	color: #000000;
}
.header-login:hover {
	background: url("../img/icon-login.svg") no-repeat #ffffff;
	color: #ee3643;
}
.header-login:active {
	background: url("../img/icon-login.svg") no-repeat #ffffff;
	color: rgba(0, 0, 0, 0.3);
}
.header-registration {
	background: #ffffff;
	color: #000000;
}
.header-registration:hover {
	background: #ffffff;
	color: #ee3643;
}
.header-registration:active {
	background: #ffffff;
	color: rgba(0, 0, 0, 0.3);
}
.user-name {
	width: 299px;
	min-height: 45px;
	background: url("../img/icon-user.svg") no-repeat #ffffff;
	color: #000000; 
	font-size: 21px;
	line-height: 21px; 
}
.header-logout {
	background: url("../img/icon-logout.svg") no-repeat #ffffff;
}
/* место под раскрашенную иконку. и кнопку? */
.user-name:hover {
	background: url("../img/icon-user.svg") no-repeat #ffffff;
}
.user-name:active {
	opacity: 0.3;
}
a.header-textlink {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
	background: transparent;
}
.header-textlink:hover {
	color: #ee3643;
}
.header-textlink:active {
	color: rgba(50, 66, 92, 0.3);
}
/*нижняя линия хэдера, синяя полоска, список ссылок. 
А зачем тут вообще нужна обертка .main-navigation для списка .site-navigation?  */  
.main-navigation {
	min-height: 60px;
	box-shadow: inset 0px -5px 0 0 #293449;
	background-color: #32425c;
	color: #ffffff; 
	line-height: 17px; 
}
.site-navigation {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.site-navigation a {
	display: block;
	color: #ffffff;
	min-height: 60px;
	padding: 0 30px;
}
.site-navigation a:hover {
	background: #1d2739;
}
.site-navigation a:active {
	background: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}
/* стили разделу main страницы index */
h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
	color: #32425c;
}
/* стили раздела рубрикатор */
.category-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 300px;
	min-height: 123px;	
}
.category-item .button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 135px;
	min-height: 38px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #ffffff;
}
.category-item .button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.category-item .button:active {
	background-color: rgba(0, 0, 0, 0.3);
}
.category-item h3{
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
}
/* Рубрикатор сайта, блоки */
.materials {
	background: url("../img/icon-1.svg") no-repeat #ffbf47 200px 40px;
}
.instruments {
	background: url("../img/icon-2.svg") no-repeat #3bbce3 200px 40px;
}
.technics {
	background: url("../img/icon-3.svg") no-repeat #dc91d8 200px 40px;
}
.discounts {
	background: url("../img/icon-4.svg") no-repeat #8ed78f 200px 40px;
}
.delivery {
	background: url("../img/icon-5.svg") no-repeat #ffc047 200px 40px;
}
.category-item-slider {	
	width: 620px;
	min-height: 266px;
	margin: 20px 20px 0 0;
}
.category-item-slider h3{
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 1;	
	text-transform: uppercase;
}
.category-item-slider p{
	font-size: 18px;
	line-height: 24px;
	margin: 0;	
}
.slider-button-back{
	background: url("../img/icon-left.svg") no-repeat blue;
}
.slider-button-next{
	background: url("../img/icon-right.svg") no-repeat blue;
}
.category-item-drills {
	background: url("../img/drillman.jpg") no-repeat #222222;
	min-height: 266px;
}
.category-item-perfs {
	background: url("../img/perfman.jpg") no-repeat #222222;
}

/* ПОДЗАГИ С ПЛАШКАМИ для 2х секций на index */
.headline-background {
	min-height: 89px;
	background-color: #f9f5f0;
	width: 100%;
	margin: 20px 0;
	padding-left: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headline-background .button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 253px;
	margin-right: 25px;

}

/* Секция ПОПУЛЯРНЫЕ ТОВАРЫ */
.catalog-item-card {
	border: 1px solid #eaeaea;
	width: 220px;
	min-height: 318px;
	margin-bottom: 20px;
}
.catalog-item-buy {
	color: #ffffff;
	background: url("../img/icon-cart.svg") no-repeat #63a63e;
	width: 135px;
	min-height: 38px;
	box-shadow: inset 0px -3px 0 0 #367315;
}
.catalog-item-buy:hover {
	background: url("../img/icon-cart.svg") no-repeat #5fbb2d;
}
.catalog-item-buy:active {
	background: url("../img/icon-cart.svg") no-repeat #518534;
}
.catalog-item-bookmark {
	color: #32425c;
	background-color: transparent;
	width: 135px;
	min-height: 38px;
	border: 3px solid #63a63e; 
}
.catalog-item-bookmark:hover {
	color: #32425c;
	background-color: transparent;
	border: 3px solid #32425c; 
}
.catalog-item-bookmark:active {
	color: #32425c;
	background-color: transparent;
	border: 3px solid #63a63e;
	opacity: 0.3; 
}
.catalog-item-card h4{
	font-family: "PTSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	background-color: #ffffff;
	color: #000000;
}
.catalog-item-card .item-old-price {
	font-family: "PTSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	background-color: #ffffff;
	color: #a9a9a9;
	text-decoration: line-through;
	display: block;
}
.catalog-item-card .item-new-price {
	font-family: "PTSans", Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	background-color: #ee3643;
	color: #ffffff;	
	text-transform: uppercase;
	display: block;
}
/* Бокс-рамку вложить в список, как обертку для ссылки? */
.logo-blocks a {
	width: 220px;
	min-height: 145px; 
}
.logo-blocks a:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.logo-blocks a:active {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}
/* Секция Сервисы. На серой плашке во всю ширину */
.services {
	background-color: #f4f7f9;
	min-height: 222px;
	padding: 68px 0;
	margin: 80px 0;
}
.services h2,
.about-technomart h2 {
	color: #000000;
	margin: 0;
}
.services h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: left;
	color: #32425c;
	margin: 0;
}
.services p,
.about-technomart p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}
.services ul {
	display: inline-block;
	list-style: none;
}
.services-list a {	
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	vertical-align: middle; 
	background-color: #32425c;
	color: #ffffff;
}
.services-list a:hover {
	background-color: #293449;
}
.services-list a:active {
	background-color: #ffffff;
	color: #32425c;	
}
.services-background-delivery {
	background: url("../img/back-delivery.png") no-repeat;
	width: 600px;
}
.services-background-warranty {
	background: url("../img/back-warranty.png") no-repeat;
	width: 600px;
}
.services-background-credit {
	background: url("../img/back-credit.png") no-repeat;
	width: 600px;
}
/* секция про Техномарт, все взял из предыдущей секции, тут только список */
.about-technomart ul {
	list-style: none;
	color: #000000;
	font-size: 18px;
	line-height: 20px;
}
.modal-window {
	font-size: 18px;
	line-height: 18px;
	text-align: left;
	color: #000000;
	background-color: #ffffff;
	width: 620px;
	min-height: 430px;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.modal-window-bottom {
	width: 620px;
	min-height: 112px;
	background-color: #f4f4f4;
}
.form-emailus input, 
.form-emailus textarea {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
	border: 2px solid #dee3e4;
}
.form-emailus input:hover, 
.form-emailus textarea:hover {
	border: 2px solid #b5b5b5;
}
.modal-window input:focus, 
.modal-window textarea:focus {
	border: 2px solid #ee3643;
}
.main-footer {
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	color: #ffffff;
}
.main-footer ul {
	list-style: none;
}
.main-footer a {
	color: #ffd180;
}
.main-footer a:hover {
	text-decoration: underline;
}
.footer-topliner {
	min-height: 193px;
	background-color: #32425c;	
}
.footer-nav-site a {
	color: #ffffff;
}
.top-footer-right a:active {
	opacity: 0.5;
}
.footer-bottomliner {
	min-height: 107px;
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
}
.footer-socials .vk {
	background: url("../img/icon-vk.svg") no-repeat;
}
.footer-socials .fb {
	background: url("../img/icon-fb.svg") no-repeat;
}
.footer-socials .insta {
	background: url("../img/icon-insta.svg") no-repeat;
}
.footer-socials a:hover,
.footer-socials a:active {
	background-color: #ee3643;
}
.footer-email a:active {
	color: #ee3643;
	text-decoration: none;
}
/* ОСНОВНЫЕ СТИЛИ СТРАНИЦЫ CATALOG */
.catalog-styles {
	background: white;
	color: #000000;
	padding: 0;
	margin: 0;
}
.catalog-styles ul {
	list-style: none;
}

.breadcrumbs {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;	
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.form-filters-catalog h3 {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;	
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.catalog-perforators .headline-background{
	background-color: #f2f6f8;
}
.form-filters-catalog .headline-background,
.catalog-sorting.headline-background {
	min-height: 38px;
	background-color: #f7f3ec;
	padding: 0 18px;
	margin: 0;
}
.form-filters-catalog .headline-background {
	width: 184px;
}
.catalog-sorting.headline-background {
	width: 664px;
}
.headline-background h3 {
	margin-left: 0px;
}
.filters-column fieldset {
	border: none;
}
.filters-column legend {
	font-size: 17px;
	line-height: 30px;	
	font-weight: bold;
}
.filters-column input{
	border: none;
	background-color: #f7f3ec;	
	font-size: 17px;
	line-height: 18px;	
	text-align: center;
}
.filters-column fieldset,
.filters-column ul {
	margin: 10px 0;
	padding: 0;
}
fieldset.bottom-line {
	border-bottom: 1px solid #d7dcde;
}
.filters-column .double-scroll-pad {
	width: 220px;
	min-height: 80px;
	background-color: #f7f3ec;
}
button.filter-button {
	width: 140px;
	min-height: 38px;
	border: 1px solid #e5e5e5;
	background: transparent;
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;	
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}
/* СКРЫТЬ ЧЕКБОКСЫ И РАДИО!!! СКРЫТЬ ЧЕКБОКСЫ И РАДИО!!! СКРЫТЬ ЧЕКБОКСЫ И РАДИО!!! СКРЫТЬ ЧЕКБОКСЫ И РАДИО!!! */
input[type="radio"]:checked {
    display: none;
}
/* СОРТИРОВОЧНАЯ ЛИНЕЙКА */
.catalog-sorting h3,
.catalog-sorting a {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;	
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;	
}
.catalog-sorting a {
	text-decoration: underline red;
	color: rgba(0, 0, 0, 0.3);
}
.catalog-sorting a:hover {
	text-decoration: underline red;
	color: rgba(0, 0, 0, 1);
}
.catalog-sorting a:active {
	text-decoration: none;
	color: #ee3643;
}
/* ПЕРЕКЛЮЧАТЕЛЬ СТРАНИЦ */
.catalog-pages a {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;	
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	/* min-width: 38px;	min-height: 38px; */
	border: 1px solid #e5e5e5;
}
.catalog-pages a:hover {
	border: 1px solid #bdc6ca;
}
.catalog-pages a:active {
	border: 1px solid #ee3643;
}
a.catalog-current-page {
	color: #ffffff;
	background: #ee3643;
	border: none;
}
/* МОДАЛЬНОЕ ОКНО ПОДТВЕРЖДЕНИЯ ЗАКАЗА */
.window-order h2 {
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	line-height: 30px;
	text-align: center;
	color: #000000;
	text-transform: none;
}
.window-order .order-close {
	background: #ffffff;
	color: #000000;
}
/* ПАРА СЛОВ О ПЕРФОРАТОРАХ */
.catalog-remark {
	background: #f4f7f9;
	min-height: 193px;
}
.catalog-remark h2 {
	color: #000000;
}
.catalog-remark p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;	
}
/* _________________________FLEX CONTAINERS________________________________- */
/* __________________ФЛЕКСЫ, КОНТЕЙНЕРЫ, ЛЕКЦИЯ 6___________________________ */
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/*_________________________FLEX HEADER _________________________*/
.top-liner .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.top-liner a,
.top-liner form,
.top-liner input {
	display: flex;
	align-items: center;
	min-width: 150px;
	justify-content: center;
	margin-left: 0; 
	margin-right: 0;
}
.top-liner form {
	margin-right: auto;
	margin-left: 10px;
}
.top-liner input {
	align-self: stretch;
}
.container .middle-liner {
	display: flex;
	justify-content: space-between;
	min-height: 158px;
	align-items: center;
	margin: 0;
}
.middle-liner h1 {
	display: flex;
	flex-wrap: wrap;
	width: 204px;
	margin-left: 53px;
}
.middle-liner .header-center-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.middle-liner .phone-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container .header-user-block {
	min-width: 282px;
	display: flex;
}
.header-user-block .header-login,
.header-user-block .header-registration {
	min-height: 45px;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-user-block .header-login {
	min-width: 48px;
	margin-right: 10px;	
	padding-left: 48px;
}
.header-user-block .header-registration {
	min-width: 100px;
}
.container .main-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container .site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* .site-navigation a {
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-navigation li {
	display: flex;
	align-items: center;
	justify-content: center;
} */
/*_________________________FLEX MAIN PAGE _________________________*/
.categories.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 59px;
}
.popular-goods {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* .catalog-item-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
} */
.item-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.popular-brands {
	display: flex;
	flex-wrap: wrap;
}
.popular-brands ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
.logo-blocks a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	min-width: 220px;
	min-height: 145px;
	border: 1px solid #05ff65; /* #eaeaea */
}
.category-item-drills {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.category-item-slider a {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 195px;
}
.services .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.services ul {
	margin: 0;
	padding: 0;
}
.services p {
	width: 430px;
	margin-bottom: 75px;
}
.services-list-block {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.services-list a {
	display: flex;
	align-items: center;
	width: 217px;
	min-height: 61px;
	padding-left: 23px;
}
.services-right-block {
	margin-left: 80px;
}
.services-right-block p {
	width: 295px;
}
.about-technomart {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 86px;
}
.about-technomart h2,
.about-technomart p {
	margin: 0;
	margin-bottom: 20px;
}
.about-left-column,
.about-right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}
.about-left-column {
	width: 550px;
	align-items: flex-start;	
}
/* .about-left-column .wideblock {
	width: 530px;	
} */
.about-left-column .narrowblock {
	align-self: flex-start;
	width: 420px;
}
.about-left-column ul {
	margin: 0;
	padding: 0;
}
.about-left-column li {
	margin-bottom: 15px;
}
.about-left-column .button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 220px;
}
.about-right-column {
	align-items: stretch;
}
.about-right-column p {
	align-self: flex-start;
	width: 200px;
}
.about-right-column .button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.footer-bottomliner {
	display: flex;
	align-items: center;
}
.footer-topliner .container {
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
}
.footer-topliner ul {
	margin: 0;
	padding: 0;
}
.footer-topliner-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 400px;
}
.logo-background {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-topliner .top-footer-right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 500px;
}
.top-footer-right .footer-nav-site,
.top-footer-right .footer-nav-offers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.footer-bottomliner .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container .footer-topliner-left {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-bottomliner-left,
.footer-email {
	margin: auto 0;

}
.footer-bottomliner p {
	margin: 0;
}
.footer-socials {
	display: flex;
}
/* ___________________________________STYLES FOR CATALOG MAIN____________________________________ */
.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	margin: 22px 0;
	padding: 0;
}
.breadcrumbs li {
	margin-right: 20px;
}
/* .catalog-styles {
	display: flex;
	flex-wrap: wrap;
} */
.catalog-perforators {
	display: flex;
	flex-wrap: wrap;
}
.filters-column {
	width: 220px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	list-style: none;
	padding: 0;
}
.column-catalog-perforators {
	width: 700px;
}
.catalog-sorting-type,
.catalog-sorting-direction {
	display: flex;
}
.catalog-sorting ul,
.catalog-sorting a {
	margin: 0;
	padding: 0;
}
.catalog-sorting a {
	margin-left: 30px;
}
.catalog-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.catalog-page-numbers {
	display: flex;
	margin: 0;
	padding: 0;
}
/* ___________________________MARKER__________________________________ */
div,section,a,ul,li,p,footer,header{
	outline: 1px solid red;
}
.card-hover,
.googlemap-window,
.form-emailus,
.category-item-perfs,
.slider-button-back,
.slider-button-next,
.services-background-warranty,
.services-background-credit,
.window-order
  {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}