/*ГЛОБАЛЬНОЕ*/

@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsans.woff");
	src: url("../fonts/ptsans.woff2");
	font-weight: normal;
	font-style: normal;	
}
@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsansbold.woff");
	src: url("../fonts/ptsansbold.woff2");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff");
	src: url("../fonts/cuprum.woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumbold.woff");
	src: url("../fonts/cuprumbold.woff2");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumitalic.woff");
	src: url("../fonts/cuprumitalic.woff2");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumbolditalic.woff");
	src: url("../fonts/cuprumbolditalic.woff2");
	font-weight: bold;
	font-style: italic;
}

body {
	margin: 0;
	min-width: 960px;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff; /*на осн. сайте белый пока!*/
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
input[type="checkbox"].hidden-decorated,
input[type="radio"].hidden-decorated {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
h1 { /*. Слоган в середине хедера, слева на сером фоне */
	font-family: Cuprum;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	text-align: left;
	color: #ee3643;
	letter-spacing: -0.5px;
}

.button {   /* типовая красная кнопка с белым капс-текстом */
	display: inline-block;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	vertical-align: middle;
	text-align: center;

	padding: 10px 0;
	background-color: #ee3643;
	border: none;
	border-radius: 3px;
}
.button:hover {
	background-color: #ca2c37;
}
.button:active {
	background-color: #ba2732;
}
img {
	max-width: 100%;
	height: auto;
}
/*--------ХЕДЕР--------------------------------------------------------*/
.main-header {
	/* серая плашка НА ВЕСЬ ЭКРАН, под ВЕСЬ хедер, включая синюю полоску.  */
	background-color: #f4f7f9;
	/* background-color: #6fff6a; */
	color: #ffffff; /* дублирование пар цветов по инструкции из лекции. буду делать для больших блоков */	
	min-height: 320px;
	/* margin-bottom: 59px; не работает на странице каталога! */
}
.top-liner { /*верхняя линия хэдера, темный фон НА ВЕСЬ ЭКРАН*/
	background-color: #293449;
	min-height: 42px;
} 
.logo-background {
	width: 220px;
	min-height: 42px;
	box-shadow: 0px 5px 0 0 #b72930;
	background-color: #ee3643;
}
.logo-background:hover {
	background-color: #ca2c37;
}
.logo-background:active {
	background-color: #ba2732;
}
.top-liner a,
.top-liner form {
	color: #ffffff;	/* размер и цвет шрифта заданы в боди */
	margin: 0;
	padding: 0;	
	border: 0;
}
.search-panel::-moz-placeholder {color: #ffffff; }
.search-panel::-webkit-input-placeholder { color: #ffffff; }
.search-panel:-ms-input-placeholder { color: #ffffff; }
.search-panel::-ms-input-placeholder { color: #ffffff; }
.search-panel::placeholder { color: #ffffff; } 

.top-liner input,
.top-liner-bookmarks,
.top-liner-basket {
	background-color: #293449;
}
.top-liner .top-liner-bookmarks,
.top-liner .top-liner-basket,
.top-liner .top-liner-order {
	position: relative;
	padding: 0;
}
.top-liner .top-liner-bookmarks {
	padding-left: 36px;
	padding-right: 16px;
}
.top-liner .top-liner-basket {
	padding-left: 38px;
	padding-right: 13px;
}
.top-liner .catalog-refilled-basket {
	background: #ee3643;
}
.top-liner .top-liner-order {
	padding-left: 20px;
	padding-right: 22px;
	background-color: #63a63e;
}

.top-liner input {
	align-self: stretch;
	width: 100%;
	color: white;
	padding: 0;
	padding-left: 50px;
	border: 0;
	outline: 0;
}
.top-liner input:hover,
.top-liner-bookmarks:hover,
.top-liner-basket:hover {
	background-color: #212a3a;
}
.top-liner a.catalog-refilled-basket:hover {
	background: #ee3643;
}
.top-liner input:hover + svg {
	opacity: 1;
}
.top-liner-order:hover {
	background-color: #5fbb2d;
}

.top-liner input:focus {
	background-color: #ffffff;	/* размер и цвет шрифта заданы в боди */
	border: none;
	color: black;
	padding: 0;
	padding-left: 50px;
}

.top-liner input:focus + svg path {
	fill:red;
}
.top-liner-bookmarks:active,
.top-liner-basket:active {
	background-color: #161d29;
}
.top-liner a.catalog-refilled-basket:active {
	background: #ee3643;
}
.top-liner-order:active {
	background-color: #518534;
}
.top-liner .top-liner-basket::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	left: 18px;
	top: 12px;
	z-index: 10;
	background: url("../img/icon-cart.svg") no-repeat;
	opacity: 0.3;
}
.top-liner .top-liner-bookmarks::before {
	content: '';
	position: absolute;
	width: 14px;
	height: 16px;
	left: 20px;
	top: 12px;
	z-index: 10;
	background: url("../img/icon-bookmark.svg") no-repeat;
	opacity: 0.3;
}
.top-liner .top-liner-basket:hover::before,
.top-liner .top-liner-bookmarks:hover::before {
	opacity: 1;
}
.top-liner .top-liner-basket:active::before,
.top-liner .top-liner-bookmarks:active::before {
	opacity: 0.5;
}
.top-liner-order {
	background-color: #63a63e;
}

/* Левая колонка с текстом h1 ПЕРЕЕХАЛА зачем-то в верх этого файла. 
А тут - сразу средняя линия хэдера, кнопка телефона и блок адреса (центр) на светло-сером фоне */
.phone-button,
.user-name {
	position: relative;
	border: 3px solid #ffffff; 
	border-radius: 0;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 70px;
	padding-right: 50px;

	color: #ee3643;
	font-size: 21px;
	line-height: 21px;  
}
a.phone-button::before {
	content: '';
	position: absolute;
	width: 19px;
	height: 19px;
	top: 11px;
	left: 12px;
	z-index: 10;
	background: url("../img/icon-phone.svg") no-repeat transparent;
}
/*средняя линия хэдера, светло-серый фон, блок адреса (центр), адрес */
.header-center-block p {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;
}
/*средняя линия хэдера, светло-серый фон, блок личного кабинета (правый) */
.user-logged {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	width: 300px;
}
.header-user-block {
	position: relative;
}
.header-user-block a {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	text-transform: none;
	background-color: #ffffff;
	border-radius: 0;
}
.header-user-block .header-login,
.header-user-block .header-registration {
	/* min-height: 45px; */
	padding: 12px 0;
	/* display: flex;
	align-items: center;
	justify-content: center;	 */
	margin-right: 10px;	
	background: #ffffff;
	color: #000000;
}
.header-user-block .header-login {
	min-width: 48px;
	padding-left: 48px;
	padding-right: 25px;
}
.header-user-block .icon-login {
	position: absolute;
	top: 13px;
	left: 13px;
	z-index: 10;
}
.header-user-block .header-registration {
	min-width: 100px;	
	padding-left: 25px;
	padding-right: 25px;
}
.header-login:hover,
.header-registration:hover {
	background: #ffffff;
	color: #ee3643;
}
.header-login:hover + svg path {
	fill: #32425c;
}
.header-login:active,
.header-registration:active {
	background: #ffffff;
	color: rgba(0, 0, 0, 0.3);
}
.header-login:active + svg path {
	fill: #c5c5c5;
}
.header-user-block .user-name {
	color: #000000;
	border: 0;
	padding-top: 12.2px;
	padding-bottom: 12px;	
	padding-left: 46px;
	padding-right: 28px;
}
.user-name .icon-user {
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 10;
}
.header-user-block .user-name:active {
	opacity: 0.3;
}
.user-name:hover .icon-user path {
	fill: #32425c;
}
.header-logout {
	min-height: 45px;
	width: 40px;
	font-size: 0;
	border: 0;
	padding: 0;
	background: white;
}
.header-logout:hover .icon-logout path {
	fill: #32425c;
}
.logged-functions {
	position: relative;
	margin-top: 7px;
	padding-right: 45px;
}
.logged-functions::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 90px;
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;
}
a.header-textlink {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
	background: transparent;
	padding-right: 28px;
}

.header-textlink:hover {
	color: #ee3643;
}
.header-textlink:active {
	color: rgba(50, 66, 92, 0.3);
}
/*нижняя линия хэдера, синяя полоска, список ссылок. 
А зачем тут вообще нужна обертка .main-navigation для списка .site-navigation?  */  
.main-navigation {
	box-shadow: 0px 5px 0 0 #293449;
	background-color: #32425c;
	color: #ffffff; 
	line-height: 17px; 
}
.site-navigation {
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-right: 2px;
}
.site-navigation a {
	display: flex;
	align-items: center;
	color: #ffffff;
	/* padding: 19.5px 31px 18.5px 31px; */
	padding: 20px 31px 18px 31px;
}
/* .site-navigation li:last-child a {
	padding-right: 38px;
} */
.site-navigation a:hover {
	background: #1d2739;
}
.site-navigation a:active {
	background: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}
/* стили разделу main страницы index */
h2 {
	font-size: 30px;
	line-height: 30px;	
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	color: #32425c;
}
/* стили раздела рубрикатор */
.category-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 300px;
    min-height: 123px;
    margin-bottom: 20px;	
}
.category-item .button {
	min-width: 135px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #ffffff;
}
.category-item .button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.category-item .button:active {
	background-color: rgba(0, 0, 0, 0.3);
}
.category-item h3{
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: left;
}
/* Рубрикатор сайта, блоки */
.materials {
	background: url("../img/icon-1.svg") no-repeat #ffbf47 200px 40px;
}
.instruments {
	background: url("../img/icon-2.svg") no-repeat #3bbce3 200px 40px;
}
.technics {
	background: url("../img/icon-3.svg") no-repeat #dc91d8 200px 40px;
}
.discounts {
	background: url("../img/icon-4.svg") no-repeat #8ed78f 200px 40px;
}
.delivery {
	background: url("../img/icon-5.svg") no-repeat #ffc047 200px 40px;
}
.category-item-slider {	
    position: relative;
    
    width: 595px;
    min-height: 220px;
    background-color: #32425c;
    
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 23px 0 23px 25px;
}
.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 34px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
  }
.slider-controls i {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    /* background-color: red; */
    margin: 1px;
}
.slider-controls i::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
}
.slider-controls .active::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 2;
    
    width: 6px;
    height: 6px;
    margin: -6px;
    
    background-color: #ee3643;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-page {
    display: none;
}
.slider-page:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 221px;
}
.slider-page:nth-child(1) {
    background-image: url("../img/perfman.jpg");
    background-repeat: no-repeat;
    background-position: -25px -23px;
}
.slider-page:nth-child(2) {
    background-image: url("../img/drillman.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.category-item-slider h3{
    margin: 0;
    margin-bottom: 2px;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;	
	text-transform: uppercase;
}
.category-item-slider p{
	font-size: 18px;
	line-height: 24px;
	margin: 0;	
}
.category-item-slider .button {
    min-width: 195px;
    margin-top: auto;
    margin-left: 1px;	
}
.slider-button-back{
	background: url("../img/icon-left.svg") no-repeat blue;
}
.slider-button-next{
	background: url("../img/icon-right.svg") no-repeat blue;
}
/* .category-item-drills {
	background: url("../img/drillman.jpg") no-repeat #222222;
	min-height: 266px;
}
.category-item-perfs {
	background: url("../img/perfman.jpg") no-repeat #222222;
} */

/* ПОДЗАГИ С ПЛАШКАМИ для 2х секций на index */
.headline-background {
	min-height: 89px;
	background-color: #f9f5f0;
	width: 100%;
	margin-bottom: 20px;
	padding-left: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headline-background .button {
	min-width: 253px;
	margin-right: 25px;
}
/* Секция ПОПУЛЯРНЫЕ ТОВАРЫ */
.catalog-item-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	border: 1px solid #eaeaea;
	width: 218px;
	min-height: 316px;
	margin-bottom: 20px;
	position: relative;

	font-family: "PTSans", Arial, sans-serif;
	text-align: center;
	font-weight: bold;
}
.catalog-item-card .catalog-item-buy {
	/* margin: 0 auto; */
	margin-bottom: 8px;
	width: 135px;
    background-color: #63a63e;
    box-shadow: inset 0px -3px 0 0 #367315;
}
.catalog-item-card .catalog-item-buy::before {
	content: '';
	position: absolute;
	top: 50px;
	left: 55px;	
	width: 15px;
	height: 15px;
	z-index: 30;
    background: url("../img/icon-cart.svg") no-repeat;
    opacity: 0.3;
}
.catalog-item-buy:hover {
	background: #5fbb2d;
}
.catalog-item-card .catalog-item-buy:hover::before {
	opacity: 1;
}
.catalog-item-buy:active {
	background: #518534;
}
.catalog-item-bookmark {
	color: #32425c;
	padding: 7px 0;
	background-color: transparent;
	width: 129px;
	border: 3px solid #63a63e; 
}
.catalog-item-bookmark:hover {
	color: #32425c;
	background-color: transparent;
	border: 3px solid #32425c; 
}
.catalog-item-bookmark:active {
	color: #32425c;
	background-color: transparent;
	border: 3px solid #63a63e;
	opacity: 0.3; 
}
.catalog-item-card h4 {
	font-size: 18px;
	line-height: 20px;
	background-color: #ffffff;
	color: #000000;
	margin-top: 11px;
	margin-bottom: 11px;
	width: 170px;
}
.catalog-item-card .item-old-price {
	font-size: 17px;
	line-height: 18px;
	background-color: #ffffff;
	color: #a9a9a9;
	text-decoration: line-through;
	width: 100%;
	min-height: 20px;
	margin-top: 0px;
	margin-bottom: 7px;
}
.catalog-item-card .item-new-price {
	font-size: 17px;
	line-height: 18px;
	background-color: #ee3643;
	color: #ffffff;	
	text-transform: uppercase;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 28px;
	
	color: white;
	background: #ee3643;
	border-radius: 3px;
	margin-top: auto;

	position: relative;
}
.catalog-item-card .item-new-price:after {
	content: "";
	position: absolute;
	top: 0;
	right: -25px;	
	width: 0;
	height: 0;	
	border: 19px solid white;
	border-left-color: #ee3643;
}
.catalog-item-card .card-hover {
	position: absolute;
	top: 5px;
	left: 0;
	
	width: 218px;
	height: 88px;
	padding: 40px 0;
	
	background-color: rgba(255,255,255,0.9);
    z-index: 10;
    display: none;
}
.catalog-item-card:hover .card-hover {
    display: block;
}
/* Бокс-рамку вложить в список, как обертку для ссылки? */
.logo-blocks a {
	width: 220px;
	min-height: 145px; 
}
.logo-blocks a:hover {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.logo-blocks a:active {
	box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}
/* Секция Сервисы. На серой плашке во всю ширину */
.services {
	background-color: #f4f7f9;
	min-height: 222px;
	padding: 68px 0;
	margin: 80px 0;
}
.services h2,
.about-technomart h2 {
	color: #000000;
	margin: 0;
}
.services h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: left;
	color: #32425c;
	margin: 0;
}
.services p,
.about-technomart p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}
.services ul {
	display: inline-block;
	list-style: none;
}
.services-list a {	
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	vertical-align: middle; 
	background-color: #32425c;
	color: #ffffff;
}
.services-list a:hover {
	background-color: #293449;
}
.services-list a:active {
	background-color: #ffffff;
	color: #32425c;	
}
.services-background-delivery {
	background: url("../img/back-delivery.png") no-repeat;
	width: 600px;
}
.services-background-warranty {
	background: url("../img/back-warranty.png") no-repeat;
	width: 600px;
}
.services-background-credit {
	background: url("../img/back-credit.png") no-repeat;
	width: 600px;
}
/* секция про Техномарт, все взял из предыдущей секции, тут только список */
.about-technomart ul {
	list-style: none;
	color: #000000;
	font-size: 18px;
	line-height: 20px;
}
.modal-window {
	font-size: 18px;
	line-height: 18px;
	text-align: left;
	color: #000000;
	background-color: #ffffff;
	width: 620px;
	min-height: 430px;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.modal-window-bottom {
	width: 620px;
	min-height: 112px;
	background-color: #f4f4f4;
}
.form-emailus input, 
.form-emailus textarea {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
	border: 2px solid #dee3e4;
}
.form-emailus input:hover, 
.form-emailus textarea:hover {
	border: 2px solid #b5b5b5;
}
.modal-window input:focus, 
.modal-window textarea:focus {
	border: 2px solid #ee3643;
}
.main-footer {
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	color: #ffffff;
}
.main-footer ul {
	list-style: none;
}
.main-footer a {
	color: #ffd180;
}
.main-footer a:hover {
	text-decoration: underline;
}
.footer-topliner {
	min-height: 193px;
	background-color: #32425c;	
}
.footer-nav-site a {
	color: #ffffff;
}
.top-footer-right a:active {
	opacity: 0.5;
}
.footer-bottomliner {
	min-height: 107px;
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
}
.footer-socials .vk {
	background: url("../img/icon-vk.svg") no-repeat;
}
.footer-socials .fb {
	background: url("../img/icon-fb.svg") no-repeat;
}
.footer-socials .insta {
	background: url("../img/icon-insta.svg") no-repeat;
}
.footer-socials a:hover,
.footer-socials a:active {
	background-color: #ee3643;
}
.footer-email a:active {
	color: #ee3643;
	text-decoration: none;
}
/* ОСНОВНЫЕ СТИЛИ СТРАНИЦЫ CATALOG */
.catalog-styles {
	background: white;
	color: #000000;
	padding: 0;
	margin: 0;
}
.catalog-styles ul {
	list-style: none;
}
/* ----------------ХЛЕБНЫЕ КРОХИ----------------- */
.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 0;
}
.breadcrumbs li {
	margin-right: 40px;
	position: relative;
}
.breadcrumbs li:first-child {
	margin-right: 54px;
}
.breadcrumbs a {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;	
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}
.breadcrumbs li:first-child a {
	font-size: 0;
}
.breadcrumbs li:first-child a::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 12px;
	top: 2px;
	left: 0px;
	z-index: 10;
	background: url("../img/icon-home.svg") no-repeat;
}
.breadcrumbs li:not(:first-child) a::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 12px;
	top: 3px;
	left: -24px;
	z-index: 10;
	background: url("../img/icon-right-small.svg") no-repeat;
}
.headline-background h2 {
    margin-top: 27px;
    margin-bottom: 24px;
}
/* ----------------ФОРМА ФИЛЬТРОВ----------------- */
.form-filters-catalog h3,
.form-filters-catalog {
	font-family: "PTSans", Arial, sans-serif;
	text-transform: uppercase;
	color: #000000;
	font-size: 13px;
	line-height: 18px;	
	font-weight: normal;
	text-transform: uppercase;
}
.form-filters-catalog label {
	font-size: 15px;
	line-height: 20px;	
}
.form-filters-catalog h3 {	
	margin-top: 10px;
	margin-bottom: 10px;
}
.catalog-perforators .headline-background{
	background-color: #f2f6f8;
}
.form-filters-catalog .headline-background,
.catalog-sorting.headline-background {
	min-height: 38px;
	background-color: #f7f3ec;
	padding: 0 12px 0 18px;
	margin: 0;
	border-radius: 3px;	
}
.form-filters-catalog .headline-background {
	width: 190px;
	margin-bottom: 13px;
}
/* ----------------СОРТИРОВОЧНАЯ ЛИНЕЙКА----------------- */
.catalog-sorting h3,
.catalog-sorting a {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;	
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}
.catalog-sorting-direction a {
	font-size: 0;
}
.catalog-sorting.headline-background {
	width: 670px;
	margin-bottom: 20px;
}
.headline-background h3 {
	margin-left: 0px;
}
.filters-column fieldset {
	border: none;
}
.filters-column legend {
	font-size: 17px;
	line-height: 30px;	
	font-weight: bold;
	margin-bottom: 12px;
}
.filters-column input{
	border: none;
	background-color: #f7f3ec;
	font-size: 17px;
	line-height: 18px;	
	text-align: center;
	border-radius: 3px;
	margin-bottom: 25px;
}
.filters-column fieldset,
.filters-column ul {
	margin: 0;
	padding: 0;
}
fieldset.bottom-line {
	border-bottom: 1px solid #d7dcde;
	margin-bottom: 18px;
	/* padding-bottom: 25px; */
}
.filters-column .double-scroll-pad {
	position: relative;
	/* width: 100%; */
	background-color: #f7f3ec;
	margin-top: 2px;
	margin-bottom: 9px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 39px 20px;
}
.scale {
	height: 2px;
	background: #d7dcde;
}
.bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}
.toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}
.toggle-min {
	left: 18px;
}
.toggle-max {
	left: 140px;
}
.price-gap {
	font-size: 16px;
	padding-bottom: 26px;
}
.filters-column ul {
	margin-left: 35px;
}
.filters-column li {
	margin-bottom: 20px;
	position: relative;
}

.filters-column li:last-child {
	margin-bottom: 22px;
}
.filters-column .filter-powersource-flags {
	margin-top: 1px;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -35px;
	z-index: 10;	
	opacity: 0.78;
}
input[type="checkbox"] + label::before {
	width: 26px;
	height: 23px;
	background: url("../img/checkbox-off.svg") no-repeat 0 0;
}
input[type="radio"] + label::before {
	width: 25px;
	height: 25px;
	background: url("../img/radio-off.svg") no-repeat 0 0;
}
input[type="checkbox"]:hover + label::before,
input[type="radio"]:hover + label::before {
	opacity: 1;
}
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
	opacity: 0.4;
}
input[type="checkbox"]:checked + label::before {
	content: '';
	position: absolute;
	top: -2px;
	left: -35px;	
	width: 26px;
	height: 23px;
	z-index: 10;
	background: url("../img/checkbox-on.svg") no-repeat 0 0;
}
input[type="radio"]:checked + label::before {
	content: '';
	position: absolute;
	top: -3px;
	left: -35px;	
	width: 25px;
	height: 25px;
	z-index: 10;
	background: url("../img/radio-on.svg") no-repeat 0 0;
}
button.filter-button {
	min-width: 140px;
	border: 1px solid #e5e5e5;
	padding: 9px 0;
	background: transparent;
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;	
    font-weight: normal;
    text-transform: uppercase;
	color: #000000;
	margin-top: 57px;
}
/* ПЕРЕКЛЮЧАТЕЛЬ СТРАНИЦ */
.catalog-pages {
    margin-top: 32px;
    margin-bottom: 60px;
}
.catalog-page-numbers a {
    font-family: "PTSans", Arial, sans-serif;
    display: inline-block;
    min-width: 36px;
    margin-right: 10px;
    color: black;
    padding: 9px 0;
    background: none;
    border: 1px solid #e5e5e5;
}
/* ---Текущую страницу красить по номеру в стилях или по классу в разметке?---  */
.catalog-page-numbers li:nth-child(1) a,
.catalog-page-numbers .catalog-current-page {
    background: #ee3643;
    border: 1px solid #ee3643;
    color: white;
}
.catalog-page-numbers .catalog-nextpage {
    min-width: 138px;
}
.catalog-page-numbers a:hover {
    background: none;
    border: 1px solid #bdc6ca;
    color: black;
}
.catalog-page-numbers a:active {
    background: none;
    border: 1px solid #ee3643;
    color: black;
}
.catalog-remark .container {
    padding-top: 65px;
}
.catalog-remark h2 {
    margin-top: 0px;
}
/* МОДАЛЬНОЕ ОКНО ПОДТВЕРЖДЕНИЯ ЗАКАЗА */
.window-order h2 {
	font-size: 30px;
	font-style: normal;
	line-height: 30px;
	text-align: center;
	color: #000000;
	text-transform: none;
}
.window-order .order-close {
	background: #ffffff;
	color: #000000;
}
/* ПАРА СЛОВ О ПЕРФОРАТОРАХ */
.catalog-remark {
	background: #f4f7f9;
	min-height: 261px;
}
.catalog-remark h2 {
	color: #000000;
}
.catalog-remark p {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;	
}
/* _________________________FLEX CONTAINERS________________________________- */
/* __________________ФЛЕКСЫ, КОНТЕЙНЕРЫ, ЛЕКЦИЯ 6___________________________ */
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/*_________________________FLEX HEADER _________________________*/
.top-liner .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.top-liner a,
.top-liner form {
	display: flex;
	align-items: center;
	min-width: 100px;
	justify-content: center;
}
.top-liner form {
	position: relative;
	flex-grow: 2;
}
.top-liner svg {
	position: absolute;
	left: 18px;
	top: 12px;
	opacity: 0.5;
}

.container .middle-liner {
	display: flex;
	justify-content: space-between;
	min-height: 111px;
	align-items: flex-start;
	padding-top: 47px;
	margin: 0;
}
.middle-liner h1 {
	display: flex;
	flex-wrap: wrap;
	width: 215px;
	margin-top: 2px;
	margin-left: 53px;
}
.middle-liner .header-center-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.middle-liner .phone-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container .header-user-block {
	min-width: 282px;
	display: flex;
	justify-content: flex-end;
}

.container .main-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}
.container .site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
/*_________________________FLEX MAIN PAGE _________________________*/
.categories.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 59px;
}
.popular-goods {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	
/* .item-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
} */

.popular-brands {
	display: flex;
	flex-wrap: wrap;
}
.popular-brands ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}
.logo-blocks a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	min-width: 220px;
	min-height: 145px;
	border: 1px solid #05ff65; /* #eaeaea */
}

.services .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.services ul {
	margin: 0;
	padding: 0;
}
.services p {
	width: 430px;
	margin-bottom: 75px;
}
.services-list-block {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.services-list a {
	display: flex;
	align-items: center;
	width: 217px;
	min-height: 61px;
	padding-left: 23px;
}
.services-right-block {
	margin-left: 80px;
}
.services-right-block p {
	width: 295px;
}
.about-technomart {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 86px;
}
.about-technomart h2,
.about-technomart p {
	margin: 0;
	margin-bottom: 20px;
}
.about-left-column,
.about-right-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}
.about-left-column {
	width: 550px;
	align-items: flex-start;	
}
/* .about-left-column .wideblock {
	width: 530px;	
} */
.about-left-column .narrowblock {
	align-self: flex-start;
	width: 420px;
}
.about-left-column ul {
	margin: 0;
	padding: 0;
}
.about-left-column li {
	margin-bottom: 15px;
}
.about-left-column .button {
	min-width: 220px;
}
.about-right-column {
	align-items: stretch;
}
.about-right-column p {
	align-self: flex-start;
	width: 200px;
}
.about-right-column .button {
	margin-top: 40px;
}
.footer-bottomliner {
	display: flex;
	align-items: center;
}
.footer-topliner .container {
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
}
.footer-topliner ul {
	margin: 0;
	padding: 0;
}
.footer-topliner-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	width: 400px;
}
.logo-background {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-topliner .top-footer-right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 500px;
}
.top-footer-right .footer-nav-site,
.top-footer-right .footer-nav-offers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.footer-bottomliner .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container .footer-topliner-left {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-bottomliner-left,
.footer-email {
	margin: auto 0;

}
.footer-bottomliner p {
	margin: 0;
}
.footer-socials {
	display: flex;
}
/* ___________________________________STYLES FOR CATALOG MAIN____________________________________ */

.catalog-perforators {
	display: flex;
	flex-wrap: wrap;
}
.filters-column {
	font-family: "PTSans", Arial, sans-serif;
	width: 220px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	list-style: none;
	padding: 0;
}
.pricerange-field {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filter-minprice,
.filter-maxprice {
	width: 95px;
	min-height: 38px;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.column-catalog-perforators {
	width: 700px;
}

.catalog-sorting ul,
.catalog-sorting a {
	margin: 0;
	padding: 0;
}
.catalog-sorting .catalog-sorting-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: auto;
}
.catalog-sorting-type li {
	margin: 0 32px;
}
.catalog-sorting-type li:first-child {
	margin: 0 38px;
}

.catalog-sorting-type a {
	border-bottom: 1px red dotted;
	color: rgba(0, 0, 0, 0.2);
}
.catalog-sorting-type .selected-type {
	border-bottom: 0;
	color: #ee3643;
	opacity: 1;
}
.catalog-sorting-type a:hover {
	border-bottom: 1px red solid;
	color: rgba(0, 0, 0, 1);
}
.catalog-sorting-type a:active {
	border-bottom: 0;
	color: #ee3643;
}
.catalog-sorting-direction {
	display: flex;
	justify-content: flex-end;
}
.catalog-sorting-direction li {
	position: relative;	
	padding-left: 12px;
}
.catalog-sorting-direction a {
	display: inline-block;
	padding: 7px 10px;
	border: 0;
}
.catalog-sorting-direction svg {
	position: absolute;	
	left: 17px;
	top: 12px;
	opacity: 0.2;
	z-index: 10;
}
.catalog-sorting-direction .selected-direction {
	opacity: 1;
}
.catalog-sorting-direction a:hover svg{
	opacity: 1;
}
.catalog-sorting-direction a:hover path{
	fill: #000000;
}
.catalog-sorting-direction a:active path,
.selected-direction path {
	fill: #ee3643;
}
.catalog-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.corner-new::after {
	content: 'новинка';
	font-size: 0;
	position: absolute;
	top: -1px;
	right: -1px;	
	width: 60px;
	height: 60px;
	z-index: 20;
	background: url("../img/new-flag.png") no-repeat 0 0;
}
.catalog-page-numbers {
	display: flex;
	margin: 0;
	padding: 0;
}
/* ___________________________MARKER__________________________________ */
/* div,section,a,ul,li,p,footer,header{
	outline: 1px solid red;
} */
/* .card-hover, */
.googlemap-window,
.form-emailus,
.slider-button-back,
.slider-button-next,
.services-background-warranty,
.services-background-credit,
.window-order
  {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}